@charset "UTF-8";
@font-face {
    font-family: 'TmoneyRoundWind';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/TmoneyRoundWind-Regular.eot);
    src: url(../fonts/TmoneyRoundWind-Regular?#iefix) format('embedded-opentype'),
        url(../fonts/TmoneyRoundWind-Regular.woff) format('woff'),
        url(../fonts/TmoneyRoundWind-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'TmoneyRoundWind';
    font-style: normal;
    font-weight: 700;
    src: url(../TmoneyRoundWind-ExtraBold.eot);
    src: url(../TmoneyRoundWind-ExtraBold#iefix) format('embedded-opentype'),
        url(../fonts/TmoneyRoundWind-ExtraBold.woff) format('woff'),
        url(../fonts/TmoneyRoundWind-ExtraBold.ttf) format('truetype');
}


/* 반응형, 모바일에서 모든요소의 패딩,선을 크기안에 포함시킴 */
*,:before,:after {box-sizing: border-box;}

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor: pointer;}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top;}

/* 모바일, 반응형에서 이미지가 원본보다 커지지않게함 */
img {max-width: 100%;}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
strong {font-weight: normal;}
/* 벤더프리픽스: 브라우저 제조사를 의미 */
a { text-decoration: none; color: #222; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
/* border-radius:0 -> iOS에서 테두리가 둥글게 나오므로 빼줌 */
/* -webkit-appearance: none -> iOS에서 폼요소에 내부그림자가 나오므로 빼줌 */
input, select, textarea, button { vertical-align: middle; margin: 0; padding: 0; border-radius: 0; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }

/* 폼요소 포커스시 아웃라인 안보이게 */
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { -webkit-text-size-adjust: none }





/*********************** 공통스타일 *************************/
/* body에 높이가 없어도 hidden이 걸리면 스크롤바가 사라짐 */
/* iOS 사파리는 페이지최상단에서만 hidden이 걸리므로 페이지 위로 올라오게함 */
body.on {
    overflow: hidden;
    position: fixed;
    left:0;
    top:0;
    width:100%;
}

body,input,button,select,textarea,table {
    font-family:'TmoneyRoundWind','맑은 고딕','malgun gothic','Apple SD Gothic Neo',sans-serif;
    font-size: 15px;
    color:#222;
}
/* Skip Navgation */
#skip_navi {position: relative;}
#skip_navi a { position: absolute; left: 0; top: -999px; width: 100%; padding: 10px 0; background: #fff; z-index: 99999; text-align: center }
#skip_navi a:hover, #skip_navi a:active, #skip_navi a:focus {top:0}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend, caption, .blind { position: absolute; overflow: hidden; border:5px solid red; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px }

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder */
::-webkit-input-placeholder {color:#bbb;} /* Webkit,크롬,사파리 */
:-moz-placeholder {color:#bbb;} /* Firefox 4-18 */
::-moz-placeholder {color:#bbb; opacity:1;} /* Firefox 19+ */
:-ms-input-placeholder {color:#bbb !important;} /* IE10+ */

/* 텍스트 선택 컬러 */
/* ::selection { background: #ef151e;color: #ffffff; } */

/* 폼요소 공통 */
/* IE x버튼, password 눈모양 안보이게 */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

/* input search x버튼 안보이게 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

/* 체크박스 공통 */
.checkbox_wrap {
    display: inline-block;
}

input[type=checkbox] + label {
    cursor: pointer;
}
input[type=checkbox] + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #FFB606;
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
}
input[type=checkbox]:checked + label:before {
    background: url(../images/ico_checkbox.svg) no-repeat 50% 50% / 13px ;
}


/* round 버튼 */
.btn_round { display: inline-block; border-radius: 20px; font-weight: 700; background: #5c4728; color: #fff; vertical-align: middle; line-height: 40px; text-align: center; margin-right: 30px; padding: 0 10px; width: 95px; }

/* 테두리 버튼 */
.btn_border { display: inline-block; border-radius: 20px; font-weight: 700; border: 2px solid #5c4728; color: #5c4728; vertical-align: middle; line-height: 36px; text-align: center; padding: 0 10px; width: 95px; }


/* 글자색 공통 */
.txt_point01 {color: #F6A500;}


/* 입력폼 공통 */
.input_txt_large { width: 100%; height: 50px; color: #292929; text-indent: 15px; border: 1px solid #ddd; border-radius: 10px; }


/* 애니메이션 공통 */
.animate_fade_down { transform: translate(0, -100px); opacity: 0; transition: all 1s; }
.animate_fade_up { transform: translate(0, 100px); opacity: 0; transition: all 1s; }
.animate_fade_flip { transform: rotateY(90deg); transition: all 1s; opacity: 0; }
[class*=animate_fade].on { opacity: 1; transform: translate(0, 0) rotate(0); }


#wrap { min-width: 320px; }

/* =============== 헤더 ================= */
#header { width: 100%; height: 60px; position: absolute; left: 0; top:0; min-width: 320px; display: flex; justify-content: space-between; align-items: center; z-index: 9999; }
#header.fixed { position: fixed; left: 0; top: 0; background:#FFCB0B; }
#header.fixed .logo a { background-image: url(../images/logo_fix.png); }
#header.fixed .gnb_open { background-image: url(../images/ico_gnb_fix.png); }
#header.fixed .btn_login { background-image: url(../images/ico_login_fix.png); }
#header .logo a { display: block; width: 180px; height: 24px; background: url(../images/logo.png) no-repeat 0 0 / 180px; text-indent: -9999px; }

/* 헤더 gnb */
#header .gnb_open { border: none; text-indent: -9999px; width: 60px; height: 60px; background: url(../images/ico_gnb.png) no-repeat 50% 50% / 24px ; }
#header .btn_login { border: none; text-indent: -9999px; width: 60px; height: 60px; background: url(../images/ico_login.png) no-repeat 50% 50% / 24px; }
#header .gnb_area { position: fixed; left: 0; top: 0; width: 100%; min-width: 320px; height: 100%; background: #5C4728; overflow: auto; transform: translateX(-100%); transition: all 0.5s; }
#header .gnb_area.on { transform: translateX(0); }
#header .gnb_top { width: 100%; height: 165px; background: #FFCB0B; padding: 0 20px; }
#header .gnb_top .gnb_header { height: 60px; position: relative; }
#header .gnb_top .gnb_logo img { position: absolute; left: 0; top: 50%; transform: translateY(-50%); height: 24px; }
#header .gnb_top .btn_wrap { margin-top: 20px; text-align: center; }
#header .gnb_bottom { margin: -25px 20px 25px 20px; background: #fff; border-radius: 10px; }
#header .gnb img { height: 24px; margin-right: 20px; vertical-align: -5px; }
#header .gnb>li { border-bottom: 1px solid #eee; }
#header .gnb>li>a { padding: 0 20px; display: block; line-height: 60px; font-size: 18px; font-weight: 700; position: relative; display: block; }
#header .gnb>li>a.active { color: #F6A500; }
#header .gnb>li>a::after { content: ''; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); width: 15px; height: 15px; background: url(../images/ico_arrow_bottom.png) no-repeat 0 0 / 15px; transition: all 0.3s; }
#header .gnb>li>a.on:after { background-image: url(../images/ico_arrow_top.png); }
#header .gnb .depth02 { background: #F5F5F5; padding: 25px 64px; display: none; border-top: 1px solid #eee; }
#header .gnb .depth02 li { padding-top: 12px }
#header .gnb .depth02 li:first-child { padding-top: 0; }
#header .gnb .depth02 li a { display: block; color: #666; }
#header .customer { padding: 25px 20px; }
#header .customer h3 { font-size: 14px; }
#header .customer strong { font-size: 14px; font-weight:700; }
#header .customer p { margin-top: 5px; font-size: 13px; line-height: 1.5; }
#header .gnb_close { position:absolute; right:0; top: 0; width: 60px; height: 60px; border: none; text-indent: -9999px; background: url(../images/gnb_close.png) no-repeat 50% 50% / 24px; }

/* 메인제목 공통 */
.main_tit { font-weight: 700; font-size: 25px; color: #000; }
.main_tit_center { font-size: 25px; color: #000; font-weight: 700; text-align: center; }

/* =============== 푸터 ================= */
#footer { background: #5E4E46; }
#footer .footer_link { display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #7E716B; height: 50px; }
#footer .footer_link li { position: relative; padding: 0 10px; }
#footer .footer_link li:first-child::before { content: ''; position: absolute; right: 0; top: 5px; width: 1px; height: 12px; background: #fff; }
#footer .footer_link a { font-size: 13px; color: #fff; }
#footer .footer_bottom { padding: 25px 20px; } 
#footer .footer_bottom .sns_wrap { display: flex; justify-content: center; margin-bottom: 25px; } 
#footer .footer_bottom .sns_wrap a { width: 32px; height: 32px; background: url(../images/ico_youtube.svg) no-repeat 0 0 / 32px; text-indent: -9999px; margin:0 10px ; } 
#footer .footer_bottom .sns_wrap .sns2 { background-image: url(../images/ico_instagram.svg); } 
#footer .footer_bottom .sns_wrap .sns3 { background-image: url(../images/ico_facebook.svg); } 
#footer .footer_bottom .adress { font-size: 13px; color: #ddd; text-align: center; line-height: 1.5; } #footer .footer_bottom .copy { margin-top: 10px; font-size: 13px; color: #eee; text-align: center; }

/* ================= 서브공통 =============== */
/* 서브 여백 */
.sub_container { padding-top: 60px; }

/* lnb */
.lnb_wrap { position: relative; } 
.lnb_wrap .sub_tit { font-size: 18px; font-weight: 700; line-height: 60px; text-align: center; border-bottom: 1px solid #eee; } 
.lnb_wrap .btn_back { position: absolute; left: 0; top: 0; width: 60px; height: 60px; background: url(../images/ico_arrow_back.png) no-repeat 50% 50% / 20px; text-indent: -9999px; } 
.lnb_wrap .lnb {text-align:center; overflow: auto; border-bottom: 1px solid #eee; white-space: nowrap;} 
.lnb_wrap .lnb li {display: inline-block; margin: 0 15px;} 
.lnb_wrap .lnb li.active a { color: #FFA500; } 
.lnb_wrap .lnb a { color: #666; line-height: 50px; } .contents { padding: 50px 20px 75px; }

/* 슬라이더 페이지네이션 공통 */
.swiper-pagination-bullet { width: 10px; height: 10px; border-radius: 5px; background: #5C4738; opacity: 1; transition: all 0.4s; } 
.swiper-pagination-bullet-active { width: 21px; background: #F6824B; }